<aside class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
       aria-label="Sidenav"
       id="drawer-navigation">
    <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
        <ul class="space-y-2">
            <!-- Home -->
            <li>
                <a href="{% url 'dashboard:home' %}"
                   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="fa-solid fa-house fa-lg text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                       aria-hidden="true">
                    </i>
                    <span class="ml-3">Home</span>
                </a>
            </li>
            <!-- Money flux -->
            <li>
                <a href="{% url 'dashboard:leads' %}"
                   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                   <i class="fa-solid fa-money-bill-transfer fa-lg text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                   aria-hidden="true">
                    </i>
                    <span class="ml-3">Entra e saída</span>
                </a>
            </li>
            <!-- Categories -->
            <li>
                <a href="{% url 'dashboard:leads_category' %}"
                   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="fa-solid fa-folder fa-lg text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                       aria-hidden="true">
                    </i>
                    <span class="ml-3">Categorias</span>
                </a>
            </li>
            <!-- Customers -->
            <li>
                <a href="{% url 'dashboard:leads_agent' %}"
                   class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="fa-solid fa-user-tie fa-lg text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                       aria-hidden="true">
                    </i>
                    <span class="ml-3">Customers</span>
                </a>
            </li>
            <!-- Products -->
            <li>
                <a href="{% url 'dashboard:leads_agent' %}"
                class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <i class="fa-solid fa-box fa-lg text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                    aria-hidden="true">
                    </i>
                    <span class="ml-3">Products</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
